.FullscreenImg {
  width: 80px;
  height: 80px;
  margin-left: 10px; /* Add space between the tag and the image */
  display: block;
}

#iframe {
  width: 67.6vw;
  height: 500px;
  border: 0;
  border-radius: 25px 25px 0 0;
  margin-left: 50px;
  margin-top: 10px;
}
.Tag {
  margin: auto;
  width: 67.6vw;
  height: 100px; /* Increased height to accommodate text stacking */
  margin-left: 50px;
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Ensure space between text and image */
  background-color: #1e1e1e;
  border-radius: 15px;
  padding: 10px;
  position: relative; /* Added to position child elements */
}
.TagImg {
  width: 90px;
  height: 90px;
  border-radius: 16px;
  margin-left: 10px;
}
.TagTextContainer {
  display: flex;
  flex-direction: column; /* Stack the text vertically */
  margin-left: 10px; /* Add some space between the image and text */
}

.TagGameName {
  font-size: 25px;
  margin-top: 1px;
  margin-bottom: 5px; /* Add some spacing between the game name and creator */
}

.TagGameCreator {
  font-size: 25px;
  color: #616161;
}

.tagcontainer {
    display: flex;
    flex-direction: row;
}

@media (max-width: 550px) {
    .TagTextContainer {
        display: none;
    }
}